In [1]:
import pickle
import joblib
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

/Users/asheshlalshrestha/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [33]:
md = joblib.load('loan_model.pkl')

In [34]:
X_test = pd.read_csv('X_test.csv')

In [35]:
X_test

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.000000,0.056895,0.068948,0.204738,0.729730,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.000000,0.242177,0.155628,0.949239,0.729730,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
2,0.666667,0.047458,0.041700,0.250423,0.729730,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
3,0.000000,0.043958,0.059107,0.187817,0.729730,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0.000000,0.049845,0.068150,0.292724,0.729730,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,0.333333,0.029029,0.025830,0.175973,0.493243,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
129,0.000000,0.084168,0.013535,0.307597,0.729730,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
130,1.000000,0.040198,0.073884,0.192893,0.729730,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
131,0.000000,0.051738,0.072435,0.170897,0.729730,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
132,1.000000,0.051738,0.053521,0.255499,0.729730,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [36]:
y_pred = md.predict(X_test)
y_pred = (y_pred>0.58)

5/5 [==============================] - 0s 820us/step

In [37]:
y_pred = pd.DataFrame(y_pred,columns=['Status'])

In [39]:
y_pred.replace({True:'Approved',False:'Rejected'})

       Status
0    Approved
1    Rejected
2    Rejected
3    Approved
4    Approved
..        ...
128  Rejected
129  Rejected
130  Rejected
131  Approved
132  Rejected

[133 rows x 1 columns]